*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../img/ian-valerio-CAFq0pv9HjY-unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90em;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    margin-top: 1.1em;
    color: white;
}
header > img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

main{
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em ;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
}

li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.600);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 0.5em;
}

a{
    
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    margin-right: 25px;
}

a:hover{
    text-decoration: underline;
}
img{
    height: 40px;
    width: 40px;
}

footer{
    margin: auto;
    height: 20px;
    text-align: right;
    color: white;
}

footer > p,a{
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

@media (max-width:600px){
    header{
        margin-top: 1.3em;
    }

    footer{
        height: 10px;
    }
}

